.desktop.desktop-wrapper {
  background-color: #9dbac0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #9dbac0;
  overflow: hidden;
  width: 768px;
  height: 1024px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1199px;
  height: 637px;
  top: 160px;
  left: 120px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 1199px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  width: 1199px;
  top: 114px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  width: 561px;
  height: 453px;
  top: 184px;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-wrapper {
  width: 534px;
  top: 79px;
  left: 120px;
  position: absolute;
  height: 52px;
}

.desktop .overlap-group {
  position: relative;
  width: 528px;
  height: 52px;
}

.desktop .overlap-group-wrapper {
  width: 528px;
  top: 0;
  left: 0;
  position: absolute;
  height: 52px;
}

.desktop .overlap-group-2 {
  position: relative;
  height: 52px;
}

.desktop .line {
  position: absolute;
  width: 528px;
  height: 4px;
  top: 23px;
  left: 0;
}

.desktop .rectangle {
  left: 0;
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.desktop .rectangle-2 {
  left: 184px;
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.desktop .rectangle-3 {
  left: 386px;
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 103px;
  height: 29px;
  top: 11px;
  left: 19px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 106px;
  height: 29px;
  top: 11px;
  left: 202px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 85px;
  height: 29px;
  top: 11px;
  left: 414px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .made-completely-by-wrapper {
  position: absolute;
  width: 768px;
  height: 161px;
  top: 863px;
  left: 0;
  background-color: #1e1e1e;
}

.desktop .made-completely-by {
  position: absolute;
  width: 683px;
  height: 37px;
  top: 61px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #787878;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #787878;
  font-size: 20px;
  letter-spacing: 0;
}

.desktop .text-wrapper-5 {
  font-weight: 700;
}

.desktop.div-wrapper {
  background-color: #9dbac0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div-2 {
  background-color: #9dbac0;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 296px;
  height: 56px;
  top: 50px;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .navbar-wrapper {
  position: absolute;
  width: 701px;
  height: 52px;
  top: 55px;
  left: 603px;
}

.desktop .navbar {
  position: relative;
  width: 693px;
  height: 52px;
}

.desktop .group-2 {
  position: absolute;
  width: 693px;
  height: 52px;
  top: 0;
  left: 0;
}

.desktop .img {
  position: absolute;
  width: 693px;
  height: 3px;
  top: 24px;
  left: 0;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  left: 0;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  left: 184px;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 3px solid;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  left: 367px;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #1e1e1e;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 142px;
  height: 52px;
  top: 0;
  left: 551px;
  background-color: #9dbac0;
  border-radius: 10px;
  border: 3px solid;
  border-color: #1e1e1e;
}

.desktop .text-wrapper-7 {
  width: 103px;
  left: 19px;
  color: #1e1e1e;
  position: absolute;
  height: 29px;
  top: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  width: 106px;
  left: 202px;
  color: #9dbac0;
  position: absolute;
  height: 29px;
  top: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 114px;
  height: 29px;
  top: 11px;
  left: 381px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 85px;
  height: 29px;
  top: 11px;
  left: 579px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 827px;
  height: 81px;
  top: 159px;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-3 {
  position: absolute;
  width: 1202px;
  height: 508px;
  top: 262px;
  left: 120px;
  object-fit: cover;
}

.desktop .overlap-2 {
  position: absolute;
  width: 349px;
  height: 106px;
  top: 148px;
  left: 947px;
  background-color: #9dbac0;
  border-radius: 15px;
  border: 4px solid;
  border-color: #000000;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 280px;
  height: 46px;
  top: 25px;
  left: 31px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  position: absolute;
  width: 1440px;
  height: 161px;
  top: 863px;
  left: 0;
  background-color: #1e1e1e;
}

.desktop .made-completely-by-2 {
  position: absolute;
  width: 683px;
  height: 37px;
  top: 61px;
  left: 445px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #787878;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #787878;
  font-size: 32px;
  letter-spacing: 0;
}

@media (max-width: 1439px) {
  .desktop.div-wrapper {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .desktop.desktop-wrapper {
    display: none !important;
  }
}